body {
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
}

canvas {
  border: 2px solid #2d3436;
}

canvas#input {
  width: 400px;
  height: 400px;
  margin: 16px;
}

.buttons {
  margin-left: 16px;
  display: flex;
}

.buttons button {
  background: none;
  outline: none;
  border: 2px solid #2d3436;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: auto;
  margin-right: 16px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #2d3436;
  color: white;
}

.buttons button.right {
  margin-left: auto;
}

h1 {
  text-align: center;
}
